{% extends "base.html" %}
{% block title %}Events - FeelUP{% endblock %}

{% block content %}
<h2>Events</h2>
<a href="{{ url_for('create_event') }}" class="btn btn-primary mb-3">Create Event</a>

<ul class="list-group">
  {% for e in events %}
  <li class="list-group-item">
    <strong>{{ e.title }}</strong> by {{ e.host_name }} on {{ e.datetime_event }} <br>
    {{ e.description }} <br>
    <form method="POST" action="{{ url_for('join_event', event_id=e.id) }}">
      <button class="btn btn-sm btn-success mt-1">Join Event</button>
    </form>
  </li>
  {% endfor %}
</ul>
{% endblock %}
